body {

    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
    border-radius: 20px;
}



.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border-radius: 6px;

}

